<p id="notice"><%= notice %></p>

<% @projects.each do |project| %>
  <div class="index_row clearfix">
  <h2 class="todo_list_title"><%= link_to project.title, project %> </h2>
  # I am looking to put a new line here; the body is printing immediately with no formatting.
  <h2 class="todo_list_sub_title"><%= project.body %></h2>
  </div>
<% end %>

<div class="Links">
  <%= link_to "New Projects", new_project_path %>
</div>


